

/* .left {
    width: 40vw;
    height: 100vh;
    background-color: black;
} */

.right {
    width: 60vw;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.form-group {
    margin: 40px 0px;
    padding: 20px 0px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.extra {
    font-size: 12px;
    color: #777;
    text-align: center;
    margin-top: 20px;
}

.note {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}
