<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Data Generator</title>
    <style>
        .container {
            text-align: center;
            margin-top: 100px;
            background-color: aquamarine;
            padding:30px;
            border-radius: 10px;
        }
        button {
            padding: 10px 20px;
            font-size: 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 20px;
        }
        button:hover {
            background-color: green;
        }
        .container:hover {
            background-color: #1879e8;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Dummy Data Generator</h1>
        <button class="button">Click here to generate</button>
        <!-- if button is clicked then generate data on database -->
        <script src="/js/script.js"></script>

    </div>
</body>
</html>